* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  width: 100wh;
  background: rgba(0, 0, 0, 0.458);
  grid-template-columns: 1fr 110px 1fr;
  min-height: 100vh;
  background: rgb(18, 72, 125);
}
.input-Field,
.output-Field {
  display: grid;
  grid-template-columns: 80px 1fr;
  padding: 20px;
}
textarea, pre {
  /* width: 100%; */
  min-height: 100%;
  resize: none;
  outline: none;
  border: 0;
  background: rgba(0, 15, 40, 0.468);
  color: rgb(123, 123, 123);
  font-size: 14px;
  padding: 20px;
  /* border-radius: 1rem; */
  /* word-wrap: ; */
}
pre{
  color: rgba(132, 173, 255, 0.921);
  overflow: scroll;
  height: 100vh;
  position: relative;
  /* padding-top:10px ; */
  /* width: 10%; */
}
.open{

  /* display: none; */
  transition: 2s;
}
input[type='checkbox']{
  /* background: #000; */
  margin: 0;
  padding: 0;
  /* margin-left: 10px; */
  /* display: inline; */
  position: absolute;
  left: 0px;
}
input[type='checkbox']:checked  .open{
  /* height: 0px; */
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  /* background: rgba(0, 0, 0, 0.968); */
}
.btn button {
  margin-top: 10px;
  width: 100px;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 15, 40, 0.468);
  color: white;
}
.line-count {
  background: rgba(8, 2, 31, 0.468);
  text-align: right;
  /* width: 80px; */
  padding: 20px 0;
  /* margin-top: 20px; */
  /* display: block; */
}
/* .line-count */
/* width */
.line-count::-webkit-scrollbar {
  display: none;
  /* width: 1px; */
}

.text-field::-webkit-scrollbar {
  cursor: pointer;
  width: 16px;
}

/* Track */
.text-field::-webkit-scrollbar-track {
  background: #f1f1f150;
}

/* Handle */
.text-field::-webkit-scrollbar-thumb {
  background: rgba(0, 43, 117, 0.529);
  cursor: pointer;
}

/* Handle on hover */
.text-field::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}
